<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
    <meta charset="UTF-8">
    <title>Table cars</title>
    <style>
        table th, table td {
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Таблица машин</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Model</th>
        <th>Year</th>
        <th>Color</th>
    </tr>
    <tr th:each="cars : ${cars}">
        <td th:text="${cars.getId()}"></td>
        <td th:text="${cars.getModel()}"></td>
        <td th:text="${cars.getYear()}"></td>
        <td th:text="${cars.getColor()}"></td>
</table>
</body>
</html>